<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!-- Custom styles for this template -->
    <link href="../static/css/authenticate.css" rel="stylesheet">
</head>
<body>
    <div class="container">
		<div class="col-sm-7">
			<div class="col-sm-2">
				<div class="name">
					<h2>Discord</h2>
					<h2>Admin Tool</h2>
				</div>
			</div>
			<div class="col-sm-5">
	            <h1><span class="fa fa-sign-in"></span> <%= __('Login-Page-Title') %></h1>
	
				<!-- show any messages that come back with authentication -->
				<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>
	
				<!-- LOGIN FORM -->
				<form action="/login" method="post">
	                <div class="form-group">
						<label><%= __('Username') %></label>
						<input type="text" class="form-control form-input" name="username">
					</div>
					<div class="form-group">
	                    <label><%= __('Pass') %></label>
						<input type="password" class="form-control form-input" name="password">
					</div>
					<div class="form-group">
	                    <label><%= __('Remember_Me') %></label>
						<input type="checkbox" class="form-control" name="remember" value="yes">
					</div>
	
					<button type="submit" class="btn btn-warning btn-lg"><%= __('Login-Button') %></button>
				</form>
	
				<hr>
	
				<p><%= __('Register-Tooltip-Pre') %><a href="/register"><%= __('Register-Tooltip-Link') %></a></p>
				<p><%= __('Github-Tooltip-Pre') %><a href="https://github.com/vedler/UT-DiscordAdminTool"><%= __('Github-Tooltip-Link') %></a>.</p>
			</div>
		</div>
    </div>
</body>
</html>